
<div class="container">
    <h1>Studihubs Champs</h1>
    <div class="user-container">
        <div class="user">
            <div class="user-infor">
                <img src="../../assets/Avatar Image.png" alt="">
                <div class="infor">
                    <div class="name">
                        Sherry Vu
                    </div>
                    <div class="scores">
                        6,870 STUDIHUBS
                    </div>
                </div>
            </div>
            <span>#574,481</span>
        </div>
    </div>
    <div style="padding: 0px 20px; width: 100%; display: flex; justify-content: center; align-items: center;">
        <div class="button">
            <div class="text">
                Boost score
            </div>
            <img src="../../assets/arrow-right-gray.png" alt="">
        </div>
    </div>
    <div class="content-body">
        <div class="content-header">
            <span>1,605,710 Holder</span>
        </div>
        <div class="user">
            <div class="user-infor">
                <img src="../../assets/Avatar Image.png" alt="">
                <div class="infor">
                    <div class="name">
                        Sherry Vu
                    </div>
                    <div class="scores">
                        6,870 STUDIHUBS
                    </div>
                </div>
            </div>
            <img src="../../assets/first.png" alt="">
        </div>
        <div class="user">
            <div class="user-infor">
                <img src="../../assets/Avatar Image.png" alt="">
                <div class="infor">
                    <div class="name">
                        Sherry Vu
                    </div>
                    <div class="scores">
                        6,870 STUDIHUBS
                    </div>
                </div>
            </div>
            <img src="../../assets/second.png" alt="">
        </div>
        <div class="user">
            <div class="user-infor">
                <img src="../../assets/Avatar Image.png" alt="">
                <div class="infor">
                    <div class="name">
                        Sherry Vu
                    </div>
                    <div class="scores">
                        6,870 STUDIHUBS
                    </div>
                </div>
            </div>
            <img src="../../assets/third.png" alt="">
        </div>
        <div class="user">
            <div class="user-infor">
                <img src="../../assets/Avatar Image.png" alt="">
                <div class="infor">
                    <div class="name">
                        Sherry Vu
                    </div>
                    <div class="scores">
                        6,870 STUDIHUBS
                    </div>
                </div>
            </div>
            <span>#4</span>
        </div>			
    </div>
    <div class="footer">
        <img src="../../assets/home untouch.png" alt="" (click)="goToHome()">
        <img src="../../assets/leaderboard activate.png" alt="" (click)="goToLeaderboard()">
        <img src="../../assets/earn untouch.png" alt="" (click)="goToEarn()">
        <img src="../../assets/State03.svg" alt="">
    </div>
</div>

<ngx-loading
    [show]="isChecking"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>

  