.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 25px;

    .tab-panel{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px;
        border-radius: 16px;
        background-color: #F3F5F7;
        margin-bottom: 20px;
        .tab-activate{
            background: linear-gradient(90deg, #6C1C95 0%, #89216B 100%);
            flex: 1;
            color: white;
            font-size: 14px;
            cursor: pointer;
            line-height: 20px;
            padding: 5px 20px;
            font-weight: 700;
            border-radius: 12px;
            margin: 0px 5px;
            text-align: center;
        }
        .tab{
            flex: 1;
            background: #F3F5F7;
            flex: 1;
            cursor: pointer;
            color: #8796AB;
            border: 1px solid #B0BFD1;
            font-size: 14px;
            line-height: 20px;
            padding: 5px 20px;
            font-weight: 500;
            border-radius: 12px;
            margin: 0px 5px;
            text-align: center;
        }
    }
    .top-rank{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        .top-person{
            display: flex;
            align-items: center;
            flex-direction: column;
						flex: 1;
            .avata{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                height: 100px;
                margin-bottom: 10px;
            }
            .rank{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;
                font-size: 12px;
                line-height: 16px;
                font-weight: 700;
                color: #647691;
                span{
                    margin-right: 5px;
                }
            }
            .name{
                color: #0F151F;
                font-size: 12px;
                line-height: 16px;
                font-weight: 700;
                margin-bottom: 5px;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
            }
            .score{
                font-size: 12px;
                line-height: 16px;
                font-weight: 500;
                color: #35445C;
            }
        }
    }
    .user-content{
        display: flex;
        width: 100%;
        padding: 12px;
        border-radius: 12px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        border-radius: 12px;
        border: 1px solid #D8E3F0;
        margin-bottom: 20px;
        .user-infor{
            display: flex;
            align-items: center;
            .user-avata{
                width: 48px;
                height: 48px;
                margin-right: 5px;
            }
            .user-name{
                font-size: 16px;
                line-height: 24px;
                color: #0F151F;
                font-weight: 700;
            }
            .user-score{
                font-size: 14px;
                line-height: 20px;
                color: #647691;
                font-weight: 500;
            }
        }
        .user-rank{
            font-size: 16px;
            line-height: 24px;
            color: #0F151F;
            font-weight: 700;
        }
    }
    .sub-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding-bottom: 100px;
        .sub-title{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 10px;
            .title{
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                color: #35445C;
            }
        }
        .user-content{
            display: flex;
            width: 100%;
            padding: 12px;
            border-radius: 12px;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            border-radius: 12px;
            border: 1px solid #D8E3F0;
            margin-bottom: 10px;
            .user-infor{
                display: flex;
                align-items: center;
                .user-avata{
                    width: 48px;
                    height: 48px;
                    margin-right: 5px;
										img{
											width: 48px;
											height: 48px;
											border-radius: 50%;
										}
                }
                .user-name{
                    font-size: 16px;
                    line-height: 24px;
                    color: #0F151F;
                    font-weight: 700;
                }
                .user-score{
                    font-size: 14px;
                    line-height: 20px;
                    color: #647691;
                    font-weight: 500;
                }
            }
            .user-rank{
                font-size: 16px;
                line-height: 24px;
                color: #0F151F;
                font-weight: 700;
            }
        }
    }
    .footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 0px 20px 20px 20px;
        background-color: white;
        display: flex;
        .footer-content{
            display: flex;
            border: 1px solid #D8E3F0;
            width: 100%;
            background-color: white;
            justify-content: space-between;
            border-radius: 16px;
            padding: 12px;
            box-shadow: 0px 6px 16px -8px #00000014;
            .footer-item{
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                color: #647691;
                .activate{
                    background: -webkit-linear-gradient(90deg, #6C1C95 0%, #89216B 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
   
}
::ng-deep.spinner-three-bounce{
	background-color: transparent !important;
}