
<div class="container">
    <div class="tab-panel">
        <div class="tab-activate">Hall of Fame</div>
        <div class="tab">Top Referral</div>
    </div>
    <div class="top-rank">
        <div class="top-person">
            <div class="avata"><img src="../../assets/Ellipse 9.png" alt=""></div>
            <div class="rank">
                <span>2st</span>
                <img src="../../assets/bronze-medal.svg" alt="">
            </div>
            <div class="name">Abram Mango</div>
            <div class="score">41,234,567</div>
            <div class="score">Studihubs</div>
        </div>
        <div class="top-person">
            <div class="avata"><img src="../../assets/Ellipse 9 (1).png" alt=""></div>
            <div class="rank">
                <span>2st</span>
                <img src="../../assets/gold-medal.svg" alt="">
            </div>
            <div class="name">Abram Mango</div>
            <div class="score">41,234,567</div>
            <div class="score">Studihubs</div>
        </div>
        <div class="top-person">
            <div class="avata"><img src="../../assets/Ellipse 9 (2).png" alt=""></div>
            <div class="rank">
                <span>2st</span>
                <img src="../../assets/Group.svg" alt="">
            </div>
            <div class="name">Abram Mango</div>
            <div class="score">41,234,567</div>
            <div class="score">Studihubs</div>
        </div>
    </div>
    <div class="user-content">
        <div class="user-infor">
            <div class="user-avata">
                <img src="../../assets/Avatar Image.png" alt="">
            </div>
            <div style="display: flex;flex-direction: column; justify-content: center;">
                <div class="user-name">Me</div>
                <div class="user-score">122 Referrals</div>
            </div>
        </div>
        <div class="user-rank">#123,456</div>
    </div>
    <div class="sub-content">
        <div class="sub-title">
            <div class="title">1,234,567 Holders</div>
        </div>
        <div class="user-content">
            <div class="user-infor">
                <div class="user-avata">
                    <img src="../../assets/Avatar Image.png" alt="">
                </div>
                <div style="display: flex;flex-direction: column; justify-content: center;">
                    <div class="user-name">Me</div>
                    <div class="user-score">122 Referrals</div>
                </div>
            </div>
            <div class="user-rank">#123,456</div>
        </div>
        <div class="user-content">
            <div class="user-infor">
                <div class="user-avata">
                    <img src="../../assets/Avatar Image.png" alt="">
                </div>
                <div style="display: flex;flex-direction: column; justify-content: center;">
                    <div class="user-name">Me</div>
                    <div class="user-score">122 Referrals</div>
                </div>
            </div>
            <div class="user-rank">#123,456</div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-item">
                <img src="../../assets/home-not-active.png" alt="">
                <span>Home</span>
            </div>
            <div class="footer-item">
                <img src="../../assets/rank.png" alt="">
                <span class="activate">Leader board</span>
            </div>
            <div class="footer-item">
                <img src="../../assets/earn.png" alt="">
                <span>Earn</span>
            </div>
            <div class="footer-item">
                <img src="../../assets/friends.png" alt="">
                <span>Friends</span>
            </div>
        </div>
    </div>
</div>
<!-- <ngx-loading
    [show]="isChecking"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading> -->



  