.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    h1{
        color: #1A1A1A;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        padding: 0px 50px;
        text-align: center;
    }
    .button{
        background-color: #EED0EF;
        width: 100%;
        height: 44px;
        padding: 10px 20px 10px 20px;
        gap: 10px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        .text{
            color: #636366;
						background-color: #EED0EF;
        }
    }
    .user-container{
        display: flex;
        width: 100%;
        padding: 8px 20px;
        align-items: center;
        .user{
            border-radius: 12px;
            display: flex;
            width: 100%;
            padding: 8px 10px;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #E5E5EA;
            .user-infor{
                display: flex;
                align-items: center;
                .infor{
                    display: flex;
                    flex-direction: column;
                    padding-left: 5px;
                    .name{
                        font-weight: 500;
                        font-size: 16px;
                        color: #1A1A1A;
                        line-height: 24px;
                    }
                    .scores{
                        color: #636366;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    .content-body{
        padding: 8px 20px 50px 20px;
				width: 100%;
        .content-header{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span{
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #8E8E93;
            }
        }
        .user{
            border-radius: 12px;
            display: flex;
            width: 100%;
            padding: 8px 10px;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #E5E5EA;
            margin-bottom: 8px;
            .user-infor{
                display: flex;
                align-items: center;
                .infor{
                    display: flex;
                    flex-direction: column;
                    padding-left: 5px;
                    .name{
                        font-weight: 500;
                        font-size: 16px;
                        color: #1A1A1A;
                        line-height: 24px;
                    }
                    .scores{
                        color: #636366;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    .footer{
        display: flex;
				align-items: center;
				justify-content: space-around;
        position: fixed;
        bottom: 0px;
				width: 100%;
        background-color: white;
				.footer-menu{
						display: flex;
						flex: 1 1;
						flex-direction: column;
						align-items: center;
						color: #8E8E93;
				}
    }
}
::ng-deep.spinner-three-bounce{
	background-color: transparent !important;
}