
<div class="container">
    <div class="content">
       <div class="scores">
        <div class="image-content">
        </div>
        <h1>Here is your reward!</h1>
        <img src="../../assets/image 4.png" alt="">
        <h2>1,000</h2>
       </div>
    </div>
    <div class="footer">
        <p>Congratulation!</p>
				<img src="../../assets/Group 1.png" alt="">
        <div class="button" (click)="gotoHome()">
            <div class="text">
                Ok
            </div>
        </div>
    </div>
</div>