.header-close{
    display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
    margin-bottom: 20px;
	span{
		flex: 1;
		text-align: center;
		font-size: 14px;
		line-height: 20px;
		font-weight: 700;
	}
}
.win-earn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    p{
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
        background: -webkit-linear-gradient(90deg, #6C1C95 0%, #89216B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    span{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #35445C;
    }
}

.cell-opacity{
    background: darkorange;
    height: 100px;
    width: 100px;
    margin: 0px;
    cursor: pointer;
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    padding: 1px;
    opacity: 0.25;
    z-index: 0;
}
.cell{
    background: darkorange;
    height: 100px;
    width: 100px;
    margin: 0px;
    cursor: pointer;
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    padding: 1px;
    // opacity: 0.25;
    z-index: 0;
}
::ng-deep.mat-bottom-sheet-container{
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

.btn-start{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: -webkit-linear-gradient(90deg, #6C1C95 0%, #89216B 100%);
    margin: 20px 0px;
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 16px;
}
.btn-restart{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #6C1C95;
    margin: 20px 0px;
    color: #6C1C95;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 16px;
}