
<div class="container">
    <div class="content">
        <img style="margin-bottom: 20px;width: 150px" src="../../assets/image 4.png" alt="">
        <div class="waving-hand">
            <img src="../../assets/Waving Hand.png" alt="">
            <h1>Hey!</h1>
        </div>
        <p>You’ve been using Telegram for a while, now it’s time to get rewarded!</p>
    </div>
    <div class="button" (click)="goToScore()">
        <div class="text">
            Let’s go 
        </div>
        <img src="../../assets/arrow-right.png" alt="" style="background-color: #EED0EF;">
    </div>
		<ngx-loading 
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>
</div>

