
<div class="container">
    <div class="content">
        <div class="image-container">
					<div class="image-content">
						<img src="../../assets/welcome.png" alt="">
					</div>
				</div>
        <div class="waving-hand">
            <!-- <img src="../../assets/Waving Hand.png" alt=""> -->
            <h1>Welcome!</h1>
        </div>
        <p>It’s great to see you here, now join us and get your Studihub coins - To qualify for our BIGGEST community airdrops ⚡️</p>
    </div>
		<div style="display: flex; align-items: center; flex-direction: column;justify-content: center;">
			<img src="../../assets/Frame 23.png" alt="">
			<div class="button" (click)="goToScore()">
        <div class="text">
					Let's get it 
				</div>	
    	</div>
		</div>
		<ngx-loading 
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>
</div>

