<div class="container">
	<div class="prize">
		<span style="color: #647691;">Connect Wallet</span>
		<img src="../../assets/close.png" alt="" (click)="close()">
	</div>
    <div class="list-item">
        <div class="item" (click)="connect('OKX Wallet')">
            <img src="../../assets/okx.jpg" alt="">
            <span>OKX Wallet</span>
        </div>
        <div class="item" (click)="connect('Bitget Wallet')">
            <img src="../../assets/bitget.jpg" alt="">
            <span>Bitget Wallet</span>
        </div>
        <div class="item" (click)="connect('Gate Wallet')">
            <img src="../../assets/gatewallet.png" alt="" style="border: 1px solid #647691; border-radius: 16px;">
            <span>Gate Wallet</span>
        </div>
        <div class="item" (click)="connect('MetaMask')">
            <img src="../../assets/metamask2.png" alt=""  style="border: 1px solid #647691;border-radius: 16px;">
            <span>MetaMask</span>
        </div>
    </div>
</div>