<div class="container">
	<div class="prize">
		<div style="display: flex; align-items: center; flex: 1;justify-content: center; width: 100%; padding: 5px;">
			<img src="../../assets/bonus.png" alt="">
			<span style="color: #6C1C95;">Prize Pool</span>
		</div>
		<img src="../../assets/close.png" alt="" (click)="close()">
	</div>
	<div class="referral">
		<div class="title-referral">Referral Prizes</div>
		<div class="referral-item">
			<div class="referral-rank">
				<img src="../../assets/gold-medal.svg" alt="">
				<span>1st</span>
			</div>
			<div class="referral-point">
				5,000 <span>USDT</span>&nbsp; <span>&</span> 500,000 <span>Studihubs</span>
			</div>
		</div>
		<div class="referral-item">
			<div class="referral-rank">
				<img src="../../assets/bronze-medal.svg" alt="">
				<span>2nd</span>
			</div>
			<div class="referral-point">
				2,500 <span>USDT</span>&nbsp; <span>&</span> 250,000 <span>Studihubs</span>
			</div>
		</div>
		<div class="referral-item">
			<div class="referral-rank">
				<img src="../../assets/Group.svg" alt="">
				<span>3rd</span>
			</div>
			<div class="referral-point">
				1,000 <span>USDT</span>&nbsp; <span>&</span> 100,000 <span>Studihubs</span>
			</div>
		</div>
		<div class="referral-item">
			<div class="referral-rank">
				<span>4th-10th</span>
			</div>
			<div class="referral-point">
				100 <span>USDT</span>&nbsp; <span>&</span> 10,000 <span>Studihubs</span>
			</div>
		</div>
	</div>
</div>