
<div class="container">
    <div class="tab-panel">
        <div [ngClass]="tabIndex ===1 ?'tab-activate': 'tab'" (click)="changeTab(1)">Mission</div>
        <div [ngClass]="tabIndex ===2 ?'tab-activate': 'tab'" (click)="changeTab(2)">Minigame</div>
    </div>
    <ng-template #hasMinigame>
       <div class="container-content">
        <div class="tab-social">
            <div [ngClass]="tabIndexSocial ===1 ?'social-active': 'social'" (click)="changeTabSocial(1)">Studihubs</div>
            <!-- <div [ngClass]="tabIndexSocial ===2 ?'social-active': 'social'" (click)="changeTabSocial(2)">C98</div> -->
            <div [ngClass]="tabIndexSocial ===3 ?'social-active': 'social'" (click)="changeTabSocial(3)">Solana</div>
            <div [ngClass]="tabIndexSocial ===4 ?'social-active': 'social'" (click)="changeTabSocial(4)">Instagram</div>
        </div>
        <div class="coming-soon" *ngIf="!isComming; else isContent">
            <img src="../../assets/coming-soon (1) 1.png" alt="">
            <span>COMING SOON</span>
            <p>We are working in the final details.</p>
        </div>
        <ng-template #isContent>
            <div class="sub-content">
                <div class="sub-item">
                    <div class="item-title">
                        <img src="../../assets/x.png" alt="">
                        <span>Like Studihub's X post</span>
                        <img src="../../assets/right.png" alt="">
                    </div>
                    <div class="sub-point">
                        <span>+2,000 Studihubs</span>

                        <img src="../../assets/Tick.png" alt="" *ngIf="bonusStatus[5]">

                        <div *ngIf="! bonusStatus[5]">
                            <button class="sub-btn" *ngIf='likeModeSpinner=="determinate"' (click)="likeXPost()">Like now</button>
                            <mat-progress-spinner [diameter]="20" *ngIf='likeModeSpinner=="indeterminate"' class="example-margin"
                                [mode]="likeModeSpinner" [value]="likeSpinnerValue">
                            </mat-progress-spinner>
                        </div>
        
                    </div>
                </div>
                <div class="sub-item">
                    <div class="item-title">
                        <img src="../../assets/x.png" alt="">
                        <span>Re-tweet Studihub's X post</span>
                        <img src="../../assets/right.png" alt="">
                    </div>
                    <div class="sub-point">
                        <span>+2,000 Studihubs</span>

                        <img src="../../assets/Tick.png" alt="" *ngIf="bonusStatus[6]">

                        <div *ngIf="! bonusStatus[6]">
                            <button class="sub-btn" *ngIf='retweetModeSpinner=="determinate"' (click)="retweetXPost()">Re-tweet</button>
                            <mat-progress-spinner [diameter]="20" *ngIf='retweetModeSpinner=="indeterminate"' class="example-margin"
                                [mode]="retweetModeSpinner" [value]="retweetSpinnerValue">
                            </mat-progress-spinner>
                        </div>
                    </div>
                </div>
                <div class="sub-item">
                    <div class="item-title">
                        <img src="../../assets/x.png" alt="">
                        <span>Comment 1 of our messages everyday on Studihub's X post</span>
                        <img src="../../assets/right.png" alt="">
                    </div>
                    <div class="sub-point">
                        <span>+1,000 Studihubs</span>

                        <img src="../../assets/Tick.png" alt="" *ngIf="bonusStatus[13]">

                        <div *ngIf="! bonusStatus[13]">
                            <button class="sub-btn" *ngIf='commentXModeSpinner=="determinate"' (click)="commentXPost()">Copy and Go</button>
                            <mat-progress-spinner [diameter]="20" *ngIf='commentXModeSpinner=="indeterminate"' class="example-margin"
                                [mode]="commentXModeSpinner" [value]="commentXSpinnerValue">
                            </mat-progress-spinner>
                        </div>
                    </div>
                </div>
                <div class="sub-item">
                    <div class="item-title">
                        <img src="../../assets/studihub icon.png" alt="">
                        <span>Chat 1 of our messages everyday on Studihub's Telegram community</span>
                        <img src="../../assets/right.png" alt="">
                    </div>
                    <div class="sub-point">
                        <span>+3,000 Studihubs</span>

                        <img src="../../assets/Tick.png" alt="" *ngIf="bonusStatus[7]">

                        <div *ngIf="! bonusStatus[7]">
                            <button class="sub-btn" (click)="gotoStudihubGroup()">Copy and Go</button>
                        </div>
                    </div>
                </div>
                <div class="sub-item">
                    <div class="item-title">
                        <img src="../../assets/studihub icon.png" alt="">
                        <span>Tag 3 friends on Studihub's pinned post</span>
                        <img src="../../assets/right.png" alt="">
                    </div>
                    <div class="sub-point">
                        <span>+3,000 Studihubs</span>
                        <img src="../../assets/Tick.png" alt="" *ngIf="bonusStatus[9]">

                        <div *ngIf="! bonusStatus[9]">
                            <button class="sub-btn" (click)="gotoStudihubGroup()">Tag now</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="sub-item">
                    <div class="item-title">
                        <img src="../../assets/studihub icon.png" alt="">
                        <span>Add 3 friends to Studihub's Telegram community</span>
                        <img src="../../assets/right.png" alt="">
                    </div>
                    <div class="sub-point">
                        <span>+3,000 Studihubs</span>
                        <img src="../../assets/Tick.png" alt="" *ngIf="bonusStatus[8]">
                        <div *ngIf="! bonusStatus[8]">
                            <button class="sub-btn" (click)="gotoStudihubGroup()">Add now</button>
                        </div>

                    </div>
                </div> -->
                <div class="sub-item">
                    <div class="item-title">
                        <img src="../../assets/tele.png" alt="">
                        <span>Got icon 📚 in your Telegram name</span>
                        <img src="../../assets/right.png" alt="">
                    </div>
                    <div class="sub-point">
                        <span>+1,000 Studihubs</span>
                        <img src="../../assets/Tick.png" alt="" *ngIf="bonusStatus[10]">
                        <div *ngIf="! bonusStatus[10]">
                            <button class="sub-btn" (click)="copyIcon()">Copy icon</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
       </div>
    </ng-template>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-item" (click)="goToHome()">
                <img src="../../assets/home-not-active.png" alt="">
                <span>Home</span>
            </div>
            <div class="footer-item" (click)="goToLeaderboard()">
                <img src="../../assets/Vector.png" alt="">
                <span>Leader board</span>
            </div>
            <div class="footer-item">
                <img src="../../assets/earn-activate.png" alt="">
                <span class="activate">Earn</span>
            </div>
            <div class="footer-item">
                <img src="../../assets/friends.png" alt="" (click)="goToFriend()">
                <span>Friends</span>
            </div>
        </div>
    </div>
</div>

<div class="container-game" *ngIf="isMiniGanme; else hasMinigame">
    <div class="minigame">
        <div class="puzzle" *ngFor="let item of gameList" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
            <div class="btn-play" (click)="openGame(item.image)">Play</div>
        </div>
    </div>
</div>


<ngx-loading
    [show]="isChecking"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>


<!-- 
  - Like and retweet Studihub's X pinned post	2.000 PTS
- Tag 3 friends on Studihub's pinned post	2.000 PTS
- Chat 10 messages on Studihub's Telegram community	3.000 PTS
- Add 3 friends to Studihub's Telegram community	3.000 PTS
- Got icon 📚 in your Telegram name	1.000 PTS -->
