
<div class="container">
    <h1>Complete tasks to earn more STUDIHUBS</h1>
    <div class="content-body">
        <div class="content-header">
            <img src="../../assets/Group 4.png" alt="">
            <span>STUDIHUB</span>
        </div>
        <div class="item">
            <div class="item-content">
                <div class="item-title">
                    <img src="../../assets/image 9.png" alt="">
                    <span>Join Onus Tap Tap Tap</span>
                </div>
                <button class="button">
                    <span>Go</span>
                    <img src="../../assets/arrow-right.png" alt="">
                </button>
            </div>
            <div class="item-reward">
                <span>Reward</span>
                <div class="reward-content">
                    <img src="../../assets/studihub icon.png" alt="">
                    <span>+1,500 STUDIHUBS</span>
                </div>      
            </div>
        </div>
		<div class="item">
            <div class="item-content">
                <div class="item-title">
                    <img src="../../assets/image 9.png" alt="">
                    <span>Join Onus Tap Tap Tap</span>
                </div>
                <button class="button">
                    <span>Go</span>
                    <img src="../../assets/arrow-right.png" alt="">
                </button>
            </div>
            <div class="item-reward">
                <span>Reward</span>
                <div class="reward-content">
                    <img src="../../assets/studihub icon.png" alt="">
                    <span>+1,500 STUDIHUBS</span>
                </div>      
            </div>
        </div>
        <div class="item">
            <div class="item-content">
                <div class="item-title">
                    <img src="../../assets/Icon.png" alt="">
                    <span>Join Onus Tap Tap Tap</span>
                </div>
                <button class="button">
                    <span>Go</span>
                    <img src="../../assets/arrow-right.png" alt="">
                </button>
            </div>
            <div class="item-reward">
                <span>Reward</span>
                <div class="reward-content">
                    <img src="../../assets/studihub icon.png" alt="">
                    <span>+1,500 STUDIHUBS</span>
                </div>      
            </div>
        </div>		
        <div class="item">
            <div class="item-content">
                <div class="item-title">
                    <img src="../../assets/Icon.png" alt="">
                    <span>Join Onus Tap Tap Tap</span>
                </div>
                <button class="button">
                    <span>Go</span>
                    <img src="../../assets/arrow-right.png" alt="">
                </button>
            </div>
            <div class="item-reward">
                <span>Reward</span>
                <div class="reward-content">
                    <img src="../../assets/studihub icon.png" alt="">
                    <span>+1,500 STUDIHUBS</span>
                </div>      
            </div>
        </div>
        <div class="item">
            <div class="item-content">
                <div class="item-title">
                    <img src="../../assets/Icon.png" alt="">
                    <span>Join Onus Tap Tap Tap</span>
                </div>
                <button class="button">
                    <span>Go</span>
                    <img src="../../assets/arrow-right.png" alt="">
                </button>
            </div>
            <div class="item-reward">
                <span>Reward</span>
                <div class="reward-content">
                    <img src="../../assets/studihub icon.png" alt="">
                    <span>+1,500 STUDIHUBS</span>
                </div>      
            </div>
        </div>
        <div class="item">
            <div class="item-content">
                <div class="item-title">
                    <img src="../../assets/Icon.png" alt="">
                    <span>Join Onus Tap Tap Tap</span>
                </div>
                <button class="button">
                    <span>Go</span>
                    <img src="../../assets/arrow-right.png" alt="">
                </button>
            </div>
            <div class="item-reward">
                <span>Reward</span>
                <div class="reward-content">
                    <img src="../../assets/studihub icon.png" alt="">
                    <span>+1,500 STUDIHUBS</span>
                </div>      
            </div>
        </div>				
    </div>
    <div class="content-body">
        <div class="content-header">
            <img src="../../assets/Mask group.png" alt="">
            <span>DOG</span>
        </div>
        <div class="item">
            <div class="item-content">
                <div class="item-title">
                    <img src="../../assets/Icon.png" alt="">
                    <span>Join Onus Tap Tap Tap</span>
                </div>
                <button class="button">
                    <span>Go</span>
                    <img src="../../assets/arrow-right.png" alt="">
                </button>
            </div>
            <div class="item-reward">
                <span>Reward</span>
                <div class="reward-content">
                    <img src="../../assets/studihub icon.png" alt="">
                    <span>+1,500 STUDIHUBS</span>
                </div>      
            </div>
        </div>
        <div class="item">
            <div class="item-content">
                <div class="item-title">
                    <img src="../../assets/Icon.png" alt="">
                    <span>Join Onus Tap Tap Tap</span>
                </div>
                <button class="button">
                    <span>Go</span>
                    <img src="../../assets/arrow-right.png" alt="">
                </button>
            </div>
            <div class="item-reward">
                <span>Reward</span>
                <div class="reward-content">
                    <img src="../../assets/studihub icon.png" alt="">
                    <span>+1,500 STUDIHUBS</span>
                </div>      
            </div>
        </div>
        <div class="item">
            <div class="item-content">
                <div class="item-title">
                    <img src="../../assets/Icon.png" alt="">
                    <span>Join Onus Tap Tap Tap</span>
                </div>
                <button class="button">
                    <span>Go</span>
                    <img src="../../assets/arrow-right.png" alt="">
                </button>
            </div>
            <div class="item-reward">
                <span>Reward</span>
                <div class="reward-content">
                    <img src="../../assets/studihub icon.png" alt="">
                    <span>+1,500 STUDIHUBS</span>
                </div>      
            </div>
        </div>				
    </div>
    <div class="footer">
        <img src="../../assets/home untouch.png" alt=""(click)="goToHome()">
        <img src="../../assets/Leaderboard.png" alt="" (click)="goToLeaderboard()">
        <img src="../../assets/State3.png" alt="" (click)="goToEarn()">
        <img src="../../assets/State03.svg" alt="">
    </div>
</div>

<ngx-loading
    [show]="isChecking"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>

  