
<div class="container">
    <div class="tab-panel">
        <div class="tab-activate">Mission</div>
        <div class="tab">Minigame</div>
    </div>
    <div class="tab-social">
        <div class="social-active">Studihubs</div>
        <div class="social">C98</div>
        <div class="social">Solona</div>
        <div class="social">Instagram</div>
    </div>
    <div class="sub-content">
        <div class="sub-item">
            <div class="item-title">
                <img src="../../assets/facebook 1.png" alt="">
                <span>Join Studihub Community</span>
                <img src="../../assets/right.png" alt="">
            </div>
            <div class="sub-point">
                <span>+2,500 Studihubs</span>
                <button class="sub-btn">Subscribe</button>
            </div>
        </div>
        <div class="sub-item">
            <div class="item-title">
                <img src="../../assets/facebook 1.png" alt="">
                <span>Join Studihub Community</span>
                <img src="../../assets/right.png" alt="">
            </div>
            <div class="sub-point">
                <span>+2,500 Studihubs</span>
                <button class="sub-btn">Subscribe</button>
            </div>
        </div>
        <div class="sub-item">
            <div class="item-title">
                <img src="../../assets/facebook 1.png" alt="">
                <span>Join Studihub Community</span>
                <img src="../../assets/right.png" alt="">
            </div>
            <div class="sub-point">
                <span>+2,500 Studihubs</span>
                <button class="sub-btn">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-item">
                <img src="../../assets/home-not-active.png" alt="">
                <span>Home</span>
            </div>
            <div class="footer-item">
                <img src="../../assets/rank.png" alt="">
                <span class="activate">Leader board</span>
            </div>
            <div class="footer-item">
                <img src="../../assets/earn.png" alt="">
                <span>Earn</span>
            </div>
            <div class="footer-item">
                <img src="../../assets/friends.png" alt="">
                <span>Friends</span>
            </div>
        </div>
    </div>
</div>
<!-- <ngx-loading
    [show]="isChecking"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading> -->



  