.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    position: relative;
    width: 100%;
    .tab-panel{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px;
        border-radius: 16px;
        background-color: #F3F5F7;
        margin-bottom: 20px;
        .tab-activate{
            background: linear-gradient(90deg, #6C1C95 0%, #89216B 100%);
            flex: 1;
            color: white;
            font-size: 14px;
            line-height: 20px;
            padding: 5px 20px;
            font-weight: 700;
            border-radius: 12px;
            margin-right: 5px;
            text-align: center;
        }
        .tab{
            flex: 1;
            background: #F3F5F7;
            flex: 1;
            color: #8796AB;
            border: 1px solid #B0BFD1;
            font-size: 14px;
            line-height: 20px;
            padding: 5px 20px;
            font-weight: 500;
            border-radius: 12px;
            margin-left: 5px;
            text-align: center;
        }
    }
    .tab-social{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        .social-active{
            background-color: #0F151F;
            padding: 3px 0px;
            flex: 1;
            color: #FFFFFF;
            text-align: center;
            border-radius: 24px;
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
        }
        .social{
            flex: 1;
            text-align: center;
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            color: #35445C;
        }
    }
    .sub-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        .sub-item{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            padding: 10px;
            border: 1px solid #D8E3F0;
            border-radius: 12px;
            margin-bottom: 15px;
            .item-title{
                display: flex;
                align-items: center;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                color: #35445C;
                margin-bottom: 10px;
                span{
                    margin: 0px 5px;
                }
            }
            .sub-point{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                span{
                    color: #0F151F;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 700;
                }
                .sub-btn{
                    border: 1px solid #EE5A24;
                    padding: 5px 10px;
                    border-radius: 8px;
                    color: #EE5A24;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 700;
                }
            }
        }
    }
    .footer{
        width: 100%;
        position: fixed;
        bottom: 20px;
        padding: 20px;
        display: flex;
        background-color: transparent;
        .footer-content{
            display: flex;
            border: 1px solid #D8E3F0;
            width: 100%;
            justify-content: space-between;
            border-radius: 16px;
            padding: 12px;
            box-shadow: 0px 6px 16px -8px #00000014;
            .footer-item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                color: #647691;
                .activate{
                    background: -webkit-linear-gradient(90deg, #6C1C95 0%, #89216B 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
   
}
::ng-deep.spinner-three-bounce{
	background-color: transparent !important;
}