/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: sf;
  src: url(assets/SF-Pro-Display-Regular.otf) format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'sf';
	background-color: white;
}