<div class="container">
    <div class="user-content">
        <div class="user-infor">
            <img style="width: 48px;border-radius: 50%;"
                [src]="myInfo?.avatar ? myInfo.avatar: '../../assets/Avatar Image.png'" alt="">
            <div class="user-name">
                {{ userInfo.user.first_name + ' ' + userInfo.user.last_name}}
            </div>
        </div>
        <div class="user-score">
            <div class="score">
                <div class="point">{{totalPoint | number}}</div>
                <div class="name-point">Studihubs</div>
            </div>
            <div class="prize-pool" (click)="openBottomSheet()">
                <img src="../../assets/bonus.png" alt="">
                <span>Prize Pool</span>
            </div>
        </div>
    </div>

    <!-- <div class="connect-btn">
        Connect Wallet
    </div> -->

    <div class="sub-content">
        <div class="sub-title">
            <div class="title">Studihub community</div>
            <div class="count">03</div>
        </div>
        <div class="sub-item">
            <div class="item-title">
                <img src="../../assets/tele.png" alt="">
                <span>Subscribe Studihub Channel</span>
                <img src="../../assets/right.png" alt="">
            </div>
            <div class="sub-point">
                <span>+2,500 Studihubs</span>

                <img src="../../assets/Tick.png" alt="" *ngIf="bonusStatus?.joinStudihubGroup">

                <div *ngIf="! bonusStatus?.joinStudihubGroup">
                    <button class="sub-btn" (click)="check(1,-1002188041826)">Join
                        Now</button>
                </div>
            </div>
        </div>
        <div class="sub-item">
            <div class="item-title">
                <img src="../../assets/tele.png" alt="">
                <span>Join Studihub Community</span>
                <img src="../../assets/right.png" alt="">
            </div>
            <div class="sub-point">
                <span>+2,500 Studihubs</span>

                <img src="../../assets/Tick.png" alt="" *ngIf="bonusStatus?.subcribeStudihubChannel">

                <div *ngIf="! bonusStatus?.subcribeStudihubChannel">
                    <button class="sub-btn" (click)="check(2,-1002206293719)">Subscribe</button>
                </div>
            </div>
        </div>
        <div class="sub-item">
            <div class="item-title">
                <img src="../../assets/x.png" alt="">
                <span>Follow Studihub on X</span>
                <img src="../../assets/right.png" alt="">
            </div>
            <div class="sub-point">
                <span>+2,500 Studihubs</span>

                <img src="../../assets/Tick.png" alt="" *ngIf="bonusStatus?.followX">

                <div *ngIf="! bonusStatus?.followX">
                    <button class="sub-btn" *ngIf='followMode=="determinate"' (click)="followX()">Follow</button>
                    <mat-progress-spinner [diameter]="20" *ngIf='followMode=="indeterminate"' class="example-margin"
                        [mode]="followMode" [value]="value">
                    </mat-progress-spinner>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-item">
                <img src="../../assets/home-2.png" alt="">
                <span class="activate">Home</span>
            </div>
            <div class="footer-item" (click)="goToLeaderboard()">
                <img src="../../assets/Vector.png" alt="">
                <span>Leader board</span>
            </div>
            <div class="footer-item" (click)="goToEarn()">
                <img src="../../assets/earn.png" alt="">
                <span>Earn</span>
            </div>
            <div class="footer-item">
                <img src="../../assets/friends.png" alt="" (click)="goToFriends()">
                <span>Friends</span>
            </div>
        </div>
    </div>
</div>
<!-- <ngx-loading
    [show]="isChecking"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading> -->